APP_NAME=AutomationHub SaaS
NODE_ENV=development

WEB_URL=http://localhost:3000
API_URL=http://localhost:4000
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_WEB_URL=http://localhost:3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/automationhub?schema=public
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=7d

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:4000/api/v1/auth/google/callback

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=no-reply@automationhub.local

PAYDISINI_API_KEY=
PAYDISINI_API_URL=https://api.paydisini.co.id/v1/
PAYDISINI_CALLBACK_SECRET=
PAYDISINI_SERVICE_ID=11
PAYDISINI_TYPE_FEE=2

PAKASIR_API_KEY=
PAKASIR_API_URL=https://app.pakasir.com/api
PAKASIR_CALLBACK_SECRET=
PAKASIR_PROJECT_SLUG=

DEPLOYMENT_ROOT=./docker/runtime
DEPLOYMENT_NETWORK=automationhub-services
DOCKER_BIN=docker
AUTO_SUSPEND_CRON=0 */1 * * *

STORAGE_DRIVER=local
STORAGE_LOCAL_PATH=./storage/uploads
S3_ENDPOINT=
S3_REGION=
S3_BUCKET=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_FORCE_PATH_STYLE=true

POSTGRES_DB=automationhub
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

TZ=Asia/Jakarta
